.SideBar___body{
    width: 270px;
    border-right: 1px solid #DEDEDF;
    -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
    scrollbar-width: none; 

}
.SideBar___breakingContainer{
    width: 300px;
}

.SideBar____Container{
    margin: 0rem 0.4rem 0.5rem 0.4rem;
}

.Sidebar__Logo img{
   margin-left: 1rem; 
  padding-top: 1rem;
}

.Sidebar__dashbaoard{
    margin-top: 3rem;
    padding: 8px;
}

.Sidebar__dashbaoard:hover {
    /* border: 0.6px solid #AEBAC9; */
    border-radius: 8px;
    background: #E4F0FF;
    color:  #014DAF;
    
}
.Sidebar__dashbaoard img:hover{
    color:  #014DAF;
}

.sidebar__listHeading{
   margin-left: 1rem;
   margin-top: 2rem;
}
.sidebar__list-container{
    margin-left: 0.5rem;

}
.sidebar__list-container ul li{
    margin-top: 1rem;
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
       /* border: 0.6px solid #AEBAC9; */
}

.sidebar__footer{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    text-align: center;
    align-items: center;
    justify-items: center;
}
.sidebar__footer img{
    width: 50%;
}
/* .Sidebar__dashbaoard img{
    margin-top: 5px;
} */

.hsdjhf{
/* Menu Item */

/* Input with label */

/* Input */

/* Frame 1618867973 */

box-sizing: border-box;

position: absolute;
width: 1170px;
height: 428px;
left: 250px;
top: 133px;

background: #FFFFFF;
border: 1px solid #E2E2E2;
border-radius: 10px;








}



